@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
h1 {
<<<<<<< HEAD
  color: blue;
  font-weight: bold;
  font-style:
=======
  color: black;
  font-weight: 500;
>>>>>>> 4bc07170020d59cb1052d194c0fde67af52482f0
}

body {
  background-color: hotpink;
}

.center {
  text-align: center;
}
